@import 'tailwindcss';

/* * {
  border: 1px solid red;
} */

/* TAILWINDCSS */
@theme {
  --animate-spinner: spinner 700ms infinite linear;
  @keyframes spinner {
    100% {
      transform: rotate(360deg);
    }
  }
}
