@import 'tailwindcss';

#app {
  width: 100vw;
  height: 100vh;
}

/* TAILWINDCSS */
@theme {
  --animate-spinner: spinner 700ms infinite linear;
  @keyframes spinner {
    100% {
      transform: rotate(360deg);
    }
  }
}
